<!-- <div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div> -->
<p>this will have the cards like </p>
<ul>
  <li>Upcoming Changes</li>
  <li>Patching Schedules</li>
  <li>Enivirnoment Outage</li>
  <li>Deployment Window</li>
</ul>
<div class="lists row">
  <div class="col-md-6 col-lg-3 col-xxxl-3">
    <nb-card class="list-card" size="small">
      <nb-card-header>Patching Schedules</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let user of users">
            <nb-user [name]="user.name" [title]="user.title">
            </nb-user>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-6 col-lg-3 col-xxxl-3">
    <nb-card class="list-card" size="small">
      <nb-card-header>Patching Schedules</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let user of users">
            <nb-user [name]="user.name" [title]="user.title">
            </nb-user>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6 col-lg-3 col-xxxl-3">
    <nb-card class="list-card" size="small">
      <nb-card-header>Patching Schedules</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let user of users">
            <nb-user [name]="user.name" [title]="user.title">
            </nb-user>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6 col-lg-3 col-xxxl-3">
    <nb-card class="list-card" size="small">
      <nb-card-header>Deployment Window</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let user of users">
            <nb-user [name]="user.name" [title]="user.title">
            </nb-user>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>